@use "../../components/shared/mixins" as *;
@use "../../components/shared/variables" as *;

.paragHero {
  margin-bottom: 49px;

  font-family: $secondary-font;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.56;
  color: $text;
  text-align: left;

  @include for-tablet {
    margin-bottom: 27px;
  }
}
