@use "../../components/shared/mixins" as *;
@use "../../components/shared/variables" as *;

.secHeadingULText {
  font-family: $secondary-font;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 1.219;
  color: $grey-text;

  margin-bottom: 23px;
  text-align: center;
}
