// colors
$white-color: #ffffff;
$bgcolor: #e5e5e5;
$page-heading-text: #3b668d;
$text: #2b4964;
$pink-text: #f36dd4;
$violet-text: #bb6df3;
$violet-price-text: #8572ff;
$blue-grey-text: #567796;
$light-blue-text: #718dc2;
$blue-text: #437fec;
$dark-blue-text: #425b8c;
$grey-text: #79788f;
$green-text: #40bf3d;
$table-text: #606f89;
$signup-text: #bb6df3;

$input-text: #3b3f8d;
$input-placeholder-text: #adadad;
$input-bg-color: #f3f3f3;

$FAQ-quest-text: #46637e;
$FAQ-symbol: #787878;
$FAQ-text: #878787;
$FAQ-bg-active-start: #b1e3ff;
$FAQ-bg-active-end: #dfbeff;
$FAQ-bg-start: #b2e3ff;
$FAQ-bg-end: #dfbfff;

$icon-fill: #7d90b2;

$radio-btn: #7a00f4;
$btn-violet: #913e98;
$btn-red: #f04438;
$btn-grey: #455b66;
$btn-blue: #0065ff;

$main-btn-bg-start: #43a1d6;
$main-btn-bg-end: #907eff;
// fonts
$logo-font: "Comfortaa", cursive;
$login-font: "Poppins", sans-serif;
$main-font: "Roboto", sans-serif;
$secondary-font: "Montserrat", sans-serif;

// display sizes
$desktop: 1280px;
$tablet: 768px;
$mobile: 320px;

// timing
$timing: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 1000ms;
