@use "../../../src/components/shared/mixins" as *;
@use "../../../src/components/shared/variables" as *;

.mainHeader {
  display: inline-block;
  color: $page-heading-text;
  font-family: $main-font;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  line-height: 1.115;
  text-align: center;
  width: 100%;
  margin: 0 auto;

  @include for-tablet {
    font-size: 72px;
  }
}
