@use "../mixins" as *;
@use "../variables" as *;

.footer {
  text-align: center;
  background-image: url(../../../assets/footer-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 43px;
  padding-top: 50px;

  @include for-tablet {
    background-image: url(../../../assets/footer-main-pic.svg);
    background-position-y: 0px;
  }
}

.footerSliderCont {
  width: 80%;
  display: block;
  margin: 0 auto;
  border-bottom: $white-color solid 2px;
  margin-bottom: 17px;

  @include for-desktop {
    margin-bottom: 47px;
  }
}

.footerSlick {
  display: flex;
  margin: 0 auto;
  border-bottom: $white-color solid 2px;
  padding-top: 420px;
  padding-bottom: 79px;
  margin-bottom: 65px;
}

.footerItem {
  flex-basis: 30%;
}
