@use "../src/components/shared/mixins" as *;
@use "../src/components/shared/variables" as *;

a {
  text-decoration: none;
  color: $white-color;
}

.mainContainer {
  // background-color: blue; // delete later
  font-family: $logo-font;
  background: url("../src/assets/bg-header-mobile.svg") no-repeat top;
  background-size: cover;
  padding-top: 63px;
  // background-color: transparent;

  @include for-tablet {
    background: url("../src/assets/bg-header-desktop.svg") no-repeat top;
  }
}

.navbar {
  display: flex;
  padding-left: 45px;
  padding-right: 45px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  @include for-desktop {
    padding-left: 145px;
    padding-right: 145px;
  }
}

.navbarBrand {
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.11;

  @include for-tablet {
    font-style: normal;
    line-height: 1.11;
    margin-right: 30px;
  }
}

.navbarPages {
  display: none;

  @include for-tablet {
    display: flex;
    align-items: center;
  }
}

.navbarLinks {
  display: flex;
  margin-right: 30px;

  @include for-desktop {
    margin-right: 116px;
  }
}

.navItem {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.12;

  @include for-desktop {
    font-size: 20px;
    font-weight: 700;
  }
}

.navItem:not(:last-child) {
  margin-right: 15px;

  @include for-desktop {
    margin-right: 70px;
  }
}

.navbarButtons {
  display: flex;
}

.navItemBtn {
  display: flex;
  width: 102px;
  height: 36px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;

  background-color: $white-color;
  color: $violet-text;
  font-family: $login-font;
  font-size: 14px;
  font-style: normal;
  line-height: 1.19;

  transition-timing-function: $timing;
  transition-duration: $duration;

  @include for-desktop {
    width: 132px;
  }
}

.navItemBtn:first-child {
  margin-right: 30px;
}

.navItemBtn:hover,
.navItemBtn:focus {
  background-color: transparent;
  color: $white-color;

  transition-timing-function: $timing;
  transition-duration: $duration;
}
